In [1]:
import pandas as pd

In [21]:
allwords = []

with open('./german_10k.txt', 'rb') as f:
    allwords = (f.read()).split()
    
len(allwords)

20002

In [22]:
def is_noun(x):
    return x[0].isupper()

In [28]:
nouns = []

for x in allwords:
    
    x = x.decode("utf-8")
    #print(x)
    
    if is_noun(str(x)):
        nouns.append(str(x))
        
len(nouns)

5589

In [31]:
nouns_df = pd.DataFrame(nouns)
nouns_df.columns = ['noun']
nouns_df

             noun
0             Ich
1             Sie
2             Das
3              Du
4             Was
...           ...
5584        Union
5585  Überstunden
5586      Tsubasa
5587      Termine
5588       Tassen

[5589 rows x 1 columns]

In [30]:
all_nouns = pd.read_csv('./german_all_nouns.csv')
all_nouns

,lemma,pos,genus,genitiv singular,genitiv plural,dativ singular,dativ plural,akkusativ singular,akkusativ plural
0,-algie,"Substantiv,Gebundenes Lexem",f,-algie,-algien,-algie,-algien,-algie,-algien
1,-ant,"Affix,Substantiv,Suffix",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-anz,"Affix,Substantiv,Suffix",f,-anz,-anzen,-anz,-anzen,-anz,-anzen
3,-chen,"Affix,Substantiv,Suffix",n,-chens,-chen,-chen,-chen,-chen,-chen
4,-elchen,"Affix,Substantiv,Suffix",n,-elchens,-elchen,-elchen,-elchen,-elchen,-elchen
...,...,...,...,...,...,...,...,...,...
98374,Ḫāriǧit,Substantiv,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98375,’Ndrangheta,Substantiv,f,’Ndrangheta,NaN,’Ndrangheta,NaN,’Ndrangheta,NaN
98376,’Sgebengu,Substantiv,m,’Sgebengu,NaN,’Sgebengu,NaN,’Sgebengu,NaN
98377,’s-Gravenhage,"Substantiv,Toponym",NaN,NaN,NaN,NaN,NaN,NaN,NaN
98378,’s-Hertogenbosch,"Substantiv,Toponym",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
nouns_wd = nouns_df.merge(all_nouns, how = 'inner', left_on = 'noun', right_on = 'lemma')
nouns_wd = nouns_wd.dropna()
nouns_wd

,noun,lemma,pos,genus,genitiv singular,genitiv plural,dativ singular,dativ plural,akkusativ singular,akkusativ plural
1,Sie,Sie,Substantiv,f,Sie,Sie,Sie,Sie,Sie,Sie
2,Sie,Sie,Substantiv,m,Sies,Sie,Sie,Sies,Sie,Sies
6,Es,Es,Substantiv,n,Es,Es,Es,Es,Es,Es
8,Er,Er,Substantiv,m,Er,Er,Er,Er,Er,Er
17,Zeit,Zeit,Substantiv,f,Zeit,Zeiten,Zeit,Zeiten,Zeit,Zeiten
...,...,...,...,...,...,...,...,...,...,...
3538,Apotheke,Apotheke,Substantiv,f,Apotheke,Apotheken,Apotheke,Apotheken,Apotheke,Apotheken
3539,Wood,Wood,Substantiv,m,Woods,Woods,Wood,Woods,Wood,Woods
3540,Wecker,Wecker,Substantiv,m,Weckers,Wecker,Wecker,Weckern,Wecker,Wecker
3542,Unterwelt,Unterwelt,Substantiv,f,Unterwelt,Unterwelten,Unterwelt,Unterwelten,Unterwelt,Unterwelten
3543,Union,Union,Substantiv,f,Union,Unionen,Union,Unionen,Union,Unionen

In [39]:
nouns_wd[nouns_wd['dativ singular'] != nouns_wd['lemma']]

,noun,lemma,pos,genus,genitiv singular,genitiv plural,dativ singular,dativ plural,akkusativ singular,akkusativ plural
60,Herr,Herr,Substantiv,m,Herrn,Herren,Herrn,Herren,Herrn,Herren
106,Name,Name,Substantiv,m,Namens,Namen,Namen,Namen,Namen,Namen
133,Tod,Tod,Substantiv,m,Todes,Tode,Tode,Toden,Tod,Tode
157,Mensch,Mensch,Substantiv,m,Menschen,Menschen,Menschen,Menschen,Menschen,Menschen
231,Idiot,Idiot,Substantiv,m,Idioten,Idioten,Idioten,Idioten,Idioten,Idioten
...,...,...,...,...,...,...,...,...,...,...
3379,Löwe,Löwe,Substantiv,m,Löwen,Löwen,Löwen,Löwen,Löwen,Löwen
3382,Journalist,Journalist,Substantiv,m,Journalisten,Journalisten,Journalisten,Journalisten,Journalisten,Journalisten
3464,Franzose,Franzose,Substantiv,m,Franzosen,Franzosen,Franzosen,Franzosen,Franzosen,Franzosen
3501,Friede,Friede,Substantiv,m,Friedens,Frieden,Frieden,Frieden,Frieden,Frieden
3508,Vorname,Vorname,Substantiv,m,Vornamens,Vornamen,Vornamen,Vornamen,Vornamen,Vornamen

In [40]:
nouns_wd.to_csv('./german_nouns_labeled')